.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header p {
    font-size: 0.9em;
    color: #EEE6CE;
    opacity: 0.4;
}

.form {
    background-color: #323232;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    border-radius: 10px;
}

.form input {
    background: none;
    outline: none;
    border: none;
    color: #EEEEEE;
    font-size: 1.2em;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.form button {
    background-color: #d24dd4;
    outline: none;
    border: none;
    border-radius: 0.5em;
    color: #EEEEEE;
    font-size: 1em;
    height: 40px;
    min-width: 100px;
    margin-bottom: 0.5em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.form button:hover {
    background-color: #b63fb8;
}

.form a {
    color: #ff5cae;
    font-size: 0.8em;
    cursor: pointer;
    margin: 10px;
}


@media screen and (max-width: 620px) {
    .container {
        flex-flow: column;
        justify-content: space-evenly;
    }
}