<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="prefetch" href="static/media/loading.svg" />

    <link rel="stylesheet" href="static/css/default.css">
    <link rel="stylesheet" href="static/css/auth.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>

    <div class="container">
        <div class="header">
            <h1>VORDL</h1>
            <p>Besplatna igrica sa 5,000 nivoa!</p>
        </div>
        {% block contentForm %}
        {% endblock %}
    </div>
    
    <script src="static/js/auth.js"></script>
</body>
</html>